<div class="container portfolio d-flex align-items-center justify-content-center flex-column py-5">
    <h2 class="fs-1 m-0">PORTFOLIO COMPONENT</h2>
    <div class="icon1 position-relative">
      <i class="fa-solid fa-star my-3"></i>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="py-3">
          <div class="position-relative">
            <img src="./assets/poert1.png" class="w-100 rounded-3" alt="">
            <div class="layer position-absolute rounded-3 w-100 h-100 top-0 d-flex justify-content-center align-items-center">
              <i class="fa-solid fa-plus fa-6x text-white"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="py-3">
          <div class="position-relative">
            <img src="./assets/port2.png" class="w-100 rounded-3" alt="">
            <div class="layer position-absolute rounded-3 w-100 h-100 top-0 d-flex justify-content-center align-items-center">
              <i class="fa-solid fa-plus fa-6x text-white"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="py-3">
          <div class="position-relative">
            <img src="./assets/port3.png" class="w-100 rounded-3" alt="">
            <div class="layer position-absolute rounded-3 w-100 h-100 top-0 d-flex justify-content-center align-items-center">
              <i class="fa-solid fa-plus fa-6x text-white"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="py-3">
          <div class="position-relative">
            <img src="./assets/poert1.png" class="w-100 rounded-3" alt="">
            <div class="layer position-absolute rounded-3 w-100 h-100 top-0 d-flex justify-content-center align-items-center">
              <i class="fa-solid fa-plus fa-6x text-white"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="py-3">
          <div class="position-relative">
            <img src="./assets/port2.png" class="w-100 rounded-3" alt="">
            <div class="layer position-absolute rounded-3 w-100 h-100 top-0 d-flex justify-content-center align-items-center">
              <i class="fa-solid fa-plus fa-6x text-white"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="py-3">
          <div class="position-relative">
            <img src="./assets/port3.png" class="w-100 rounded-3" alt="">
            <div class="layer position-absolute rounded-3 w-100 h-100 top-0 d-flex justify-content-center align-items-center">
              <i class="fa-solid fa-plus fa-6x text-white"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
